/* .sports {
  background-image: url("../../../Images/sports5.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 400px;
  min-height: 400px;
} */
